$red: #e84118;
$blue: #00a8ff;
$gray: #718093;
$white: rgb(228, 228, 228);

$borderColor: #7f8fa6;
$bgColor: rgb(255, 255, 255);
$textColor: #353b48;

$boxShadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
$fontFamily: "Kanit", sans-serif;

$footerHeight: 100px;
