head
  title #{siteName} | #{title}
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mvp.css/1.5.1/mvp.min.css")
  link(rel="stylesheet", href="/static/css/global.css")
  block css