nav.fullContainer
    .container
        ul
            a(href="/").logo
                div.logo__title Memories
                img(src="/static/images/memories_logo.png")
            .nav
                if user
                    a(href="/me") 내프로필
                    a(href="/logout") 로그아웃
                else
                    a(href="/login") 로그인