nav 
    ul
        if user
            a(href="/") home 
            a(href="/logout") 로그아웃
            a(href="/memory") memory
            a(href="/me") 내프로필
        else
            a(href="/") home 
            a(href="/login") 로그인