extends layout.pug
include mixins/memoryBlock

block content
  .container
    if user
      if user.emailVerify
        .homeHead
          a(href="/memory/upload")
            .homeHead__btn 업로드 ⬆
          form(action=`/search` method="GET")
            input(name="searchTerm" type="text" placeholder="검색")
        .memoryContainer
          each memory in memories
            +memoryBlock({
              _id:memory._id,
              thumbnail:memory.thumbnail,
              title:memory.title,
              description:memory.description,
              creator:memory.creator
            })
      else 
        h1.center 이메일인증이 안됐습니다.
    else 
      h1.center 로그인하세요