extends layout.pug

include mixins/userColumnBlock

block content
    .container
        +userColumnBlock({
            avatar:user.avatar,
            name:user.name
        })
        .userBtnContainer
            a(href="/me/update")
                button.btn.updateBtn 수정하기