extends layout.pug

block content
    .form
        form(action=`/me/update`, method="POST" enctype="multipart/form-data")
            if user.avatar
                img(src=`${user.avatar}` crossorigin="annoymous")#preview.imgAvatar
            else
                img(src="/static/images/no_user.png")#preview.imgAvatar
            #js-fileName
            input(type="file" name="avatar")
            input(type="text" name="name" value=user.name
            placeholder="제목")
            input(type="submit" value="업데이트")
        
block js
    script(src="/static/js/imgPreview.js")