extends layout.pug

block css
    link(rel="stylesheet" href="/static/css/imgPreview.css")

block content
    form(action=`/me/update`, method="POST" enctype="multipart/form-data")
        if user.avatar
            img(src=`/${user.avatar}`)#preview.imgAvatar
        else
            img(src="/static/images/no_user.jpg")#preview.imgAvatar
        #js-fileName
        input(type="file" name="avatar")
        input(type="text" name="name" value=user.name
        placeholder="제목")
        button 업데이트
        
block js
    script(src="/static/js/imagePreview.js") 