mixin userColumnBlock(user={})
    .user
        if user.avatar
            img(src=`${user.avatar}` crossorigin="annoymous").imgAvatar
        else
            img(src="/static/images/no_user.png").imgAvatar
        h1.user__name=user.name